body{
  font-family: 'Lato', sans-serif;
}
.container{
    width: 88%;
}
.navbar-brand{
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 5.4rem;
    margin-right: 5rem !important;
}
.navbar-user{
    margin-right: 5.4rem;
    padding-left: 3rem;
}
.nav-join{
    padding-top: .35rem;
    padding-left: 1rem;
}
.btn-join{
    margin-top: .12rem;
    padding-top: .18rem;
    height: 1.7rem;
}
.form-search{
    margin-top: .12rem;
    width: 25rem !important;
    height: 2rem;
}
.input-field{
    padding-bottom: .20rem;
}
.search-glass{
    float: right;
    margin-left: -30px;
    position: relative;
    z-index: 2;
}
.modal-dialog{
    max-width: 400px;
}
.no-border-bottom{
    border-bottom: 0px !important;
    vertical-align: center;
}
.modal-content{
    padding-left: 20px;
    padding-right: 20px;
}
