{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar-top.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/lib/font-awesome.min.css')}}">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="#">flaskr</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="form-inline mt-2 mt-md-0 mr-auto" action="{{url_for('index')}}">
          <input class="form-control form-search mr-sm-2" type="text" id="keyword" placeholder="Find services" maxlength="40">
          <span class="fa fa-search search-glass"></span>
        </form>
        <ul class="navbar-nav navbar-user">
          <li class="nav-item active">
            <a class="nav-link" data-toggle="modal" data-target="#signin_modal">Sign In</a>
          </li>
          <li class="nav-item nav-join">
            <button class="btn btn-success btn-join" type="submit">Join</button>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
        <p>You are searching for {{keyword}}</p>
      </div>
        {% block footer %}
            {{ super() }}
        {% endblock %}
    </div>

    <!-- Signin Modal -->
    <div id="signin_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header no-border-bottom">
            <h5 class="modal-title" id="signinModalLabel">Login to Flaskr</h5>
          </div>
          <div class="modal-body">
           <form class="form-signin">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control input-field" placeholder="Email / Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control input-field" placeholder="Password" required>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
          </div>
          <div class="modal-footer">
            <p>Not a member yet? Join now
          </div>
        </div>
      </div>
    </div>
{% endblock %}
