<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{{url_for('static', filename='css/lib/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <title>Flaskr - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2017 by <a href="http://utask.co/">flaskr</a>.
      {% endblock %}
    </div>
    {% endblock %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='js/lib/jquery-3.2.1.slim.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/lib/tether.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/lib/bootstrap.min.js')}}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{url_for('static', filename='js/lib/ie10-viewport-bug-workaround.js')}}"></script>
  </body>
</html>